<h1> My tasks </h1>
<% @tasks.each do |task| %>
<% if task.completed == true %>
<p>✅ <%=link_to  "#{task.title}", task_path(task)%></p>
<% else %>
<p>❎ <%=link_to "#{task.title}", task_path(task)%></p>
<% end %>
<p> <%= link_to "Delete this task", tasks_delete_path(task), method: :delete, data: { confirm: "Are you sure?"} %> </p>
<% end %>

</br> </br>

<p> <%= link_to "Add a new task", tasks_new_path %></p>
